<!doctype html>
<html>
<head>
    <title>Game</title>
</head>
<body>

<h1>Hi There! Please choose the following below!</h1>

<form action="/madlib">
    <p><label for="person">Person: <input id="person" name="person" type="text"></label>
    <p><label for="color">Color: <input id="color" name="color" type="text"></label>
    <p><label for="noun">Noun: <input id="noun" name="noun" type="text"></label>
    <p><label for="adjective">Adjective: <input id="adjective" name="adjective" type="text"></label>
        <input type="submit">
</form>

</body>
</html>
